@page
@model ImageFilteringModel
@{
    ViewData["Title"] = "Image Filtering";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<h1>@ViewData["Title"]</h1>

<p>Harrison's wonderful image filtering pipeline</p>
<form method="post" enctype="multipart/form-data">
    <div>
        <label for="imageUpload">Select an image to upload:</label>
        <input asp-for="OriginalImage" type="file" id="imageUpload" accept="image/*" required>
    </div>
    <div>
        <!-- Add buttons for filters -->
        @foreach(Type filterType in Model.FilterTypes)
		{
			<div>
                <button>
                    <i class="fas fa-plus"></i>
                    @filterType.Name
                </button>
			</div>
		}
    </div>
    <button type="submit">Apply Filters</button>
</form>